.bgColormain{
    background-color: white !important;
}
.bgColorsecond{
    background-color:  #2C3E50 !important;
}
.textColormain{
    color: white !important;
}
.textColorsecond{
    color: #2C3E50 !important;
}